<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>リスト一覧</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <h1>リスト一覧</h1>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>概要</th>
                <th>ステータス</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}" th:object="${task}">
                <td><a th:text="'#' + *{id}"></a></td>
                <td><a th:text="*{summary}"></a></td>
                <td th:text="*{status}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/}">トップページへ</a>
    </div>
</body>
</html>